<div *ngIf="selectedPokemon" class="card">
  <div class="card-content">
    <!-- Pokémon Header with Image and Basic Info -->
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img [src]="selectedPokemon.sprites.animated" alt="{{selectedPokemon.name}}">
        </figure>
      </div>
      <div class="media-content">
        <div class="columns is-vcentered">
          <div class="column">
            <p class="title is-4 capitalize">{{selectedPokemon.name}}</p>
            <ng-container *ngIf="checkFavouriteById(selectedPokemon.id)">
              <p class="subtitle is-6 has-text-warning">
                Favourite <fa-icon [icon]="faStar"></fa-icon>
              </p>
            </ng-container>
          </div>
          <div class="column is-narrow">
            <p class="subtitle is-6"><strong>ID:</strong> {{selectedPokemon.id}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Pokémon Detailed Info -->
    <div class="columns is-multiline is-mobile">
      <div class="column is-half">
        <p><strong>Height:</strong> {{selectedPokemon.height}}</p>
      </div>
      <div class="column is-half">
        <p><strong>Weight:</strong> {{selectedPokemon.weight}}</p>
      </div>
      <div class="column is-half">
        <p><strong>Base Experience:</strong> {{selectedPokemon.base_experience}}</p>
      </div>
      <div class="column is-half">
        <p><strong>Order:</strong> {{selectedPokemon.order}}</p>
      </div>
      <div class="column is-full">
        <p><strong>Is Default:</strong> {{selectedPokemon.is_default === 'true' ? 'Yes' : 'No'}}</p>
      </div>
    </div>
  </div>
</div>


