<br>
<div class="columns is-multiline">
  <div class="column is-1" *ngFor="let pokemon of pokemon">
    <a [routerLink]="'/pokemon/' + pokemon.id">
      <div class="card">
        <div class="card-image is-flex is-justify-content-center is-align-items-flex-start py-4" style="height: 80%;">
          <figure class="image is-64x64">
            <img src="{{pokemon.sprites.animated}}" alt="{{pokemon.name}}">
          </figure>
        </div>
        <div class="card-content has-background-info-light">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="is-size-7 is-family-monospace">{{pokemon.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

