<main class="p-5" style="width: 100%">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <app-fact></app-fact>
          <app-drinks></app-drinks>
        </div>
        <div class="tile is-parent">
          <app-profile></app-profile>
        </div>
      </div>
      <div class="tile is-parent">
        <app-contact></app-contact>
      </div>
    </div>
    <div class="tile is-parent">
      <app-info></app-info>
    </div>
  </div>
</main>
