<section class="section">
  <div class="container">
      <div class="columns is-vcentered">
          <div class="column is-one-third">
              <figure class="image">
                  <img src="../../assets/Profesor_Oak.png" alt="Professor Oak">
              </figure>
          </div>
          <div class="column">
            <h1 class="title">Hello there, welcome to the world of Pokémon!</h1>
            <p>My name is Oak! People call me the Pokémon Prof!</p>
            <p>This world is inhabited by creatures called Pokémon!</p>
            <p>For some people, Pokémon are pets. Others use them for fights.</p>
            <p>Myself... I study Pokémon as a profession.</p>
            <p>Now, did you know that Vaporeon is actually one of the most interesting Pokémon? Due to their unique genetic makeup, Vaporeon are capable of breeding with humans. Not only are they in the field egg group, which is mostly comprised of mammals, Vaporeon are an aquatic species that allows for... well, let’s just say their physical form and size make them quite compatible for certain interactions. Fascinating, don't you think?</p>
            <p>But of course, that’s just an interesting tidbit for you to know as you embark on your journey! Your very own Pokémon legend is about to unfold! A world of dreams and adventures with Pokémon awaits! Let's go!</p>
          </div>
      </div>
  </div>
</section>
